<div class="home-contetnt">
    <div class="video-container"><video autoplay loop poster="" id="bgvid">
    <source src="/assets/videos/LOOP.mp4" type="video/mp4" />
</video></div>
    <div id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content">
                        <h2>Delicious Pizza</h2>
                        <span>With free beer!</span>
                    </div>
                </div>
            </div>


        </div>
        <div class="btn-container">
            <div class="btn-wrap">
                <div class="btn-row">
                    <div class="btn-link">
                        <div class="semi-opaque"></div>
                        <a [routerLink]="['/pizza/all']" tabindex="0">Purchase Classic Pizza</a>
                    </div>
                    <div class="btn-link">
                        <div class="semi-opaque"></div>
                        <a [routerLink]="['/pizza/custompizza']" tabindex="0">Build your own Pizza!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>