<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-8">
                    <div class="social-bottom">
                        <span>Follow us:</span>
                        <ul>
                            <li>
                                <a class="fa fa-facebook social"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter social"></a>
                            </li>
                            <li>
                                <a class="fa fa-rss social"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="about">
                        <h4 class="footer-title">About PizzaNG</h4>
                        <p>
                            <span>With everything common that other pizza sites provide like big variety of choice and filter of the type of pizza that you want to order we have a special offer for you - build your own pizza! Choose your favorite from tens of products and build the perfect masterpiece just for you. Don't even wait, we from PizzaNG are waiting for you and your amazing pizza creation!</span>
                        </p>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="more-info">
                        <ul>
                            <li><i class="fa fa-phone"></i>010-020-0340</li>
                            <li><i class="fa fa-globe"></i>Sofia, Bulgaria</li>
                            <li><i class="fa fa-envelope"></i><a href="https://github.com/TeamElfinBison/PizzaNG">theelfinbison@telerikacademy.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p>
                <span>Copyright © 2017 <a href="https://github.com/TeamElfinBison/PizzaNG">The Elfin Bison</a>
                </span>
            </p>
        </div>

    </div>
</footer>